<?xml version='1.0' encoding='utf-8'?>
<widget id="com.verint.xm.cordova.sample" version="3.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>VerintXM</name>
    <description>
        A sample Apache Cordova application. Integration with the Verint SDK.
    </description>
    <author email="xm-mobile-team@verint.com" href="http://www.verint.com">
        Verint Mobile Team
    </author>
    <content src="index.html" />
    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
    <platform name="android">
        <allow-intent href="market:*" />
        <icon src="res/icon/android/xhdpi.png" />
        <icon density="hdpi" src="res/icon/android/hdpi.png" />
        <icon density="xhdpi" src="res/icon/android/xhdpi.png" />
        <icon density="xxhdpi" src="res/icon/android/xxhdpi.png" />
        <icon density="xxxhdpi" src="res/icon/android/xxxhdpi.png" />
        <preference name="android-targetSdkVersion" value="33" />
    </platform>
    <platform name="ios">
        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />
        <icon src="res/icon/ios/icon-120.png" />
        <icon height="180" src="res/icon/ios/icon-180.png" width="180" />
        <icon height="60" src="res/icon/ios/icon-60.png" width="60" />
        <icon height="120" src="res/icon/ios/icon-120.png" width="120" />
        <icon height="57" src="res/icon/ios/icon-57.png" width="57" />
        <preference name="deployment-target" value="12.0" />
    </platform>
</widget>
